
<div class="row">

    <div class="col-md-3"><h3>Saila</h3></div>
    <div class="col-md-3"><h3>Taldea</h3></div>
    <div class="col-md-3"><h3>Rola</h3></div>
    <div class="col-md-3"><h3>Erabiltzaileak</h3></div>

</div>

<div class="row">

    <div class="col-md-3">
        <div class="list-group">
            <a ng-repeat="saila in sailak" href="javascript:void(0)" class="list-group-item" ng-click="getGroupAndUsers(saila.cn);selectSaila($index)" ng-class="{active: $index == selectedSaila}">
                {{saila.cn }}
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="list-group">
            <a ng-repeat="group in groupandusers" href="javascript:void(0)" class="list-group-item" ng-click="getRolesAndUsers(group.cn);selectTaldea($index)" ng-class="{active: $index == selectedTaldea}">
                {{ group.cn }}
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="list-group">
            <a ng-repeat="role in rolesandusers" href="javascript:void(0)" class="list-group-item" ng-click="getRoleUsers(role.cn);selectRol($index)" ng-class="{active: $index == selectedRol}">
                {{ role.cn }}</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="list-group">
            <a ng-repeat="r in roleusers" href="javascript:void(0)" class="list-group-item" ng-click="userInfo(r);selectUser($index)" ng-class="{active: $index == selectedUser}">
                {{ r.displayName }}</a>
        </div>
    </div>

</div>

<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-4">
        <div class="panel panel-info"  ng-show="currentUser != null">
            <div class="panel-heading">
                <h3 class="panel-title">{{ currentUser.displayName}}</h3>
            </div>
            <div class="panel-body">
                <dl>
                    <!--<dt>Izen abizenak</dt>-->
                    <!--<dd>{{ currentUser.displayName}}</dd>-->
                    <dt>NAN</dt>
                    <dd>{{ currentUser.employeeID}}</dd>
                    <dt>Lanpostua</dt>
                    <dd>{{ currentUser.description }}</dd>
                    <dt>Email</dt>
                    <dd>{{ currentUser.mail}}</dd>
                    <dt>Extensioa</dt>
                    <dd>{{ currentUser.extensionName }}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-4">&nbsp;</div>
</div>